@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.calendar-container {
  max-width: 1000px;
  margin: 0 auto;
}

.calendar-text {
  justify-content: space-between;
  margin: 0 2.5%;
}

.quick-view-calendar {
  margin-top: -8px;
  width: 95%;
  height: 600px;
}
